h1 { 
    padding-top: 40px; 
    padding-bottom: 40px; 
    text-align: center;  
    font-family: 'Montserrat', sans-serif; 
} 
button { 
    margin: 10px; 
    border-color: black !important; 
    color: black !important; 
    margin-bottom: 25px; 
} 
  
button:hover { 
    background-color:#c1c0c0 !important; 
} 
  
textarea { 
    padding: 3%; 
    border-color: #c1c0c0; 
    border-width: thick; 
} 
.textbox { 
    display: flex; 
    justify-content: center;
}
#toolbar { 
    display: flex; 
    justify-content: center; 
}
#submit { 
    display: flex; 
    justify-content: center; 
}
